/*

Colour Scheme 
https://coolors.co/000000-363946-696773-819595-b1b6a6

*/

@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans+Deva:wght@100..800&display=swap');

* {
    margin: 0;
    font-family: "Playpen Sans Deva";
}

body {
    background-color: #B1B6A6;
}

nav {
    background-color: #819595;
    border-bottom: 1px grey solid;
}

nav ul {
    align-items: center;
    display: flex;
    list-style: none;
    justify-content: center;
}

.title {
    margin-left: 35%;
    color: white;
    text-shadow: black 1px 4px 5px;
}

.account-list {
    display: block;
    margin-left: auto;
    right: 10p
}

.account-list ul li {
    margin: 10px;
}

.account-list ul li button {
    padding: 15px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: lightgray;
    color: white;
    box-shadow: black 1px 4px 5px;
    text-shadow: black 1px 4px 5px;
}

#burger {
    width: 4%;
    height: 4%;
}
